<div class="container">
  <div class="row mt-3">
     <p class="text-center">DASHBOARD DE TEST DEVATEC® - RIO203</p>
  </div>   
  <!-- TIME SELECTION -->
  <div class="row m-4">
     <div class="text-center">
        <input type="button" class="form-control" value=5 (click)="askData(5)">
        <input type="button" class="form-control" value=15 (click)="askData(15)">
        <input type="button" class="form-control" value=30 (click)="askData(30)"> 
        <input type="button" class="form-control" value=60 (click)="askData(60)">
        <input type="button" class="form-control" value=120 (click)="askData(120)">
     </div>   

  </div>
</div>


<div class="grid-container">
  <h1 class="mat-h1">Raspy in</h1>
  <app-raspi-in-data></app-raspi-in-data>
</div>

<div class="grid-container">
   <h1 class="mat-h1">Raspy out</h1>
   <app-raspi-out-data></app-raspi-out-data>
 </div>

 <div class="grid-container">
   <h1 class="mat-h1">Fit iot</h1>
   <app-fitiot-data></app-fitiot-data>
 </div>
